.contenedor-cine {
    width: 100%;
    height: auto;
    margin-top: 10%;

}

/* pantalla de cine */

.pantalla-cine {
    width: 60%;
    height: 22px;
    margin: 35px auto 10px auto;
    border-radius: 999px;
    background: rgb(155, 155, 155);

    display: flex;
    justify-content: center;
    align-items: center;
}

.texto-pantalla {
    margin: 0;
    color: white;
    font-size: 12px;
    font-weight: bold;
    line-height: 1;
    color: white;
}

/* contenedor de asientos */
.contenedor-seat {
    width: 50%;
    margin: 0 auto;
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(18, 35px);
    gap: 5px;
}